
.bot-cont{
    background-color: #5E0014;
    color: white;
    padding-left:  3%;
    padding-right: 3%;
    font-weight: bold;
    display: block;
    margin: 25px auto 0 auto;
}

input{
    padding: 8px;
    border-radius: 4px;
    border:none;
}

p{
    line-height: 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 16px;
    font-weight: 600;

}

textarea{
    border:none;
    padding: 8px;
    resize: none;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.formulario-contacto {
    max-width: 300px; 
    margin: 0 auto; 
    padding-top: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 4px;
    text-align: left;
}

.formulario-contacto input:not([type="radio"]):not([type="submit"]), 
.formulario-contacto .mensaje-contacto {
    display: block;  
    width: 100%;     
    border-radius: 4px;
    box-sizing: border-box; 
}



ul{
    list-style: none;
}

.titulo-contacto{
    text-align: center;
    padding: 32px;
}

.cuerpo-contacto li:first-child{
    font-weight: bold;
}

.ubicacion-contacto , .horarios-contacto, .mensaje-contacto{
    background-color: #E8D5C5; 
    flex-grow: 1;
    flex-basis: 45%;

}

.ubicacion-contacto {
    flex-basis: 45%; 
    padding: 32px;
    align-content: center;
    text-align: center;
    border-radius: 16px;
}

.mensaje-contacto {
    flex-basis: 15%; 
    padding: 24px;
    line-height: 1.5;
    text-align: center;
    border-radius: 16px;
}

.goglemap{
    border-radius: 16px;
    width: 100%;
    height: 450px; 
}

.horarios-contacto{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px;
    text-align: center ;
    margin: 0 auto ; 
    justify-content: center; 
    align-items: center; 
    padding: 24px;
    line-height: 1.5;
    border-radius: 16px; 
}

.horarios-contacto ul{
    margin-bottom: 20px; 

}


.div-contacto{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px ;
    padding: 32px 16px 32px 16px;
}

.goglemap{
    border-radius: 16px;
    width: 100%;
    height: 420px;
   
}



@media (max-width: 800px) {
    .div-contacto {
        flex-direction: column; 
        align-items: center; 
    }

    .ubicacion-contacto, .horarios-contacto, .mensaje-contacto {
        width: 95%;
        flex-basis: auto; 
        margin-bottom: 20px; 
        padding: 4%;
    }
   
    .formulario-contacto input:not([type="radio"]):not([type="submit"]),
    .formulario-contacto textarea {
        padding: 12px 8px; 
    }

    input {
        padding: 12px 8px;
    }
    
    textarea {
        padding: 12px 8px;
        height: 100px; 
    }

    .horarios-contacto, .ubicacion-contacto {
        text-align: center;
    }

    .horarios-contacto {
        grid-template-columns: 1fr; 
        gap: 15px;
    }

}

