
main {
    background-color: #F5EFE7;
    padding: 48px 20px; 
    max-width: 1200px; 
    margin: 0 auto;
}

@media (max-width: 600px) {
    
    section {
        padding: 24px;
        border-radius: 0; 
    }

}


h1{
    padding-bottom: 32px;
    text-align:center;
    font-family: 'roboto', serif;
    font-weight: bold;
}


section{
    border-radius: 16px;
    background-color: #E8D5C5; 
    align-content: center;
    padding: 48px;
}

p{
    line-height: 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 16px;

  
}
.Formulario-reserva{
    margin-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 16px;
}

input{
    padding: 8px;
    border-radius: 8px;
}