
main {
    
    padding: 32px 20px;
    max-width: 1200px; 
    margin: 0 auto;
}

@media (max-width: 768px) {
    
    .div-contacto {
        padding: 16px;
    }

    .ubicacion-contacto, .horarios-contacto,  .mensaje-contacto {
        flex-basis: 100%;
        margin-bottom: 15px; 
    }

    .horarios-contacto {
        gap: 20px; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .horarios-contacto ul {
        text-align: center;
        width: 100%;
    }

    .formulario-contacto {
        max-width: 90%; 
    }

    .goglemap {
        height: 250px;
    }
}

h1{
    padding-bottom: 32px;
    text-align:center;
    font-family: 'roboto', serif;
    font-weight: bold;
}


section{
    border-radius: 16px;
    background-color: rgba(232, 213, 197, 0.8);
    padding: 24px;
    max-width: 500px;
    margin: 0 auto;
}

p{
    line-height: 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 16px;
    font-weight: 600;

  
}
.Formulario-reserva{
    max-width: 320px;
    margin: 0 auto;
    padding-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 16px;
    font-weight: 500;    
}

.Formulario-reserva input:not([type="radio"]):not([type="submit"]), 
.Formulario-reserva select {
    display: block;  
    width: 100%;     
    padding: 8px;
    border-radius: 4px;
    margin-top: 5px; 
    box-sizing: border-box; 
}

input{
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.bot-rev{
    background-color: #5E0014;
    color: white;
    padding-left:  3%;
    padding-right: 3%;
    font-weight: bold;
    display: block;
    margin: 25px auto 0 auto;
}

.fondo-reserva{
    border-radius: 8px;
    background-image:
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url('../assets/img/fondo-reserva.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    padding: 24px;
    
}