
/*Estilo para la pagina Index*/
body {
    background-color: #F5EFE7;   
}

main{
    background-color: #F5EFE7;
   
}

.Titulo-1 {
    text-align: center;
    font-family: 'roboto', serif;
    font-weight: bold;
    padding-top: 32px;
}

.Titulo-2 {
    text-align: center;
    padding-bottom: 32px;
    
}

.portada {
    border-radius: 24px;
}

.descripcion, .imagen-inicio {
    text-align: center;
    
}
    
.descripcion {
    padding: 32px 48px;
    text-align: left;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descripcion p {
    margin-bottom: 24px;
}

@media (max-width: 800px) {
    .main {
        padding: auto;
    }

    .imagen-inicio {
        width: 95%;
        flex-basis: auto; 
        margin-bottom: 20px; 
    }

}





